<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - Brobet</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Patua+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/styles.min.css?v=7" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled-uncompressed/html4+html5/jquery.history.js"></script>
    <script>
        moment.locale('en-gb');
    </script>
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <script>

        function renderPartial(fullHref, partialHref, replaceState = false) {
            if (!fullHref) return;
            if (replaceState) {
                if (History.replaceState) {
                    History.replaceState({
                        partialHref: partialHref
                    }, document.title, fullHref);
                }
            }
            else {
                if (History.pushState) {
                    History.pushState({
                        partialHref: partialHref
                    }, document.title, fullHref);
                }
            }
        }
        $(function () {
            $(document).on('click', 'a.partial-href', function (e) {
                var fullHref = $(this).attr('href');
                var partialHref = $(this).data('partial-href');
                renderPartial(fullHref, partialHref);
                e.preventDefault();
            });

            History.Adapter.bind(window, 'statechange', function (evt) { // Note: We are using statechange instead of popstate
                var State = History.getState(); // Note: We are using History.getState() instead of event.state

                if (State) {
                    var $body = $('#partial-body');
                    var partialHref = State.data.partialHref;
                    if (!partialHref) return;

                    $body.empty();
                    $body.removeClass().addClass('loading');
                    $.get(partialHref, function (data) {
                        $body.removeClass();
                        $body.html(data);
                    }).fail(function () {
                        $body.addClass('error');
                    });
                }
                else History.back();
            });
        });
    </script>
</body>
</html>
