@model Brobet.ViewModels.IndexViewModel
@{
}

@Html.Partial("_NavbarPartial")

<div class="body-container">
    @{
        foreach (var fixtureD in Model.fixtures)
        {
            var fixture = fixtureD.Value;
            <div class="fixture status-@fixture.status" data-fixture-id="@fixture.id">
                <table>
                    <tr class="local-team">
                        <td class="score">
                            <span class="score-span">
                                @fixture.localTeamScore
                            </span>
                        </td>
                        <td class="logo">
                            <img src="@fixture.localTeamLogo" />
                        </td>
                        <td class="name">
                            @fixture.localTeamName
                        </td>
                        <td rowspan="2" class="time">
                            <span class="min">@fixture.minute'</span>
                            <span class="status">@fixture.status</span>
                            <span class="scheduled">@fixture.staringAtString</span>
                        </td>
                    </tr>
                    <tr class="visitor-team">
                        <td class="score">
                            <span class="score-span">
                                @fixture.visitorTeamScore
                            </span>
                        </td>
                        <td class="logo">
                            <img src="@fixture.visitorTeamLogo" />
                        </td>
                        <td class="name">
                            @fixture.visitorTeamName
                        </td>
                    </tr>
                </table>
            </div>
        }
    }
</div>


<script>
    $(function () {
        window.setInterval(function () {
            updateFixtures();
        }, 10000);


        function updateFixtures() {
            $.get('/Home/GetFixturesJson', function (data) {
                var fixtures = JSON.parse(data);
                console.log(fixtures);

                for (var key in fixtures) {
                    var fixture = fixtures[key];
                    var $fixture = $(".body-container").find(`.fixture[data-fixture-id='${fixture.id}']`);
                    $fixture.attr('class', 'fixture');
                    $fixture.addClass('status-' + fixture.status);

                    // Local team
                    var $localTeam = $fixture.find('.local-team');
                    $localTeam.find('.score .score-span').html(fixture.localTeamScore);
                    // Visitor team
                    var $visitorTeam = $fixture.find('.visitor-team');
                    $visitorTeam.find('.score .score-span').html(fixture.visitorTeamScore);

                    // Time
                    $fixture.find('.min').html(fixture.minute + "'");
                    $fixture.find('.status').html(fixture.status);
                }
            });
        }

        updateFixtures();
    });

</script>