@model Brobet.Models.Team
@{
    ViewBag.Title = Model.name;
}
<h2>@Model.name</h2>
<h3>@Model.founded</h3>
<img src="@Model.logoUrl" />

<h4>Local fixtures</h4>
<ul>
    @{
        foreach (var fixture in Model.LocalFixtures)
        {
            <li>
                <b>@fixture.LocalTeam.name vs @fixture.VisitorTeam.name</b>
                <br/><i>@fixture.startingAt</i> / <i>@fixture.status</i>
            </li>
        }
    }
</ul>


<h4>Visiting fixtures</h4>
<ul>
    @{
        foreach (var fixture in Model.VisitingFixtures)
        {
            <li>
                <b>@fixture.LocalTeam.name vs @fixture.VisitorTeam.name</b>
                <br /><i>@fixture.startingAt</i> / <i>@fixture.status</i>
            </li>
        }
    }
</ul>
